<!DOCTYPE html>
<html lang="en">

<head>
  <link rel=stylesheet type=text/css 
    href="{{ url_for('static', filename='styles.css') }}"
  >
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js">
  </script>
  <script type="text/javascript">
    var map;
    var marker;
    function initialize() {
      var mapOptions = {
        center: new google.maps.LatLng(
          35.1307, -89.919),
        zoom: 13
      };
      map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
      google.maps.event.addListener(map, 'click',
        function(event){
          placeMarker(event.latLng);
        });   
    }

    function placeMarker(location) {
      if (marker) {
        marker.setPosition(location);
      }
      else {
        marker = new google.maps.Marker({
          position: location,map: map
        });
      }

    document.getElementById('latitude').value = location.lat();
    document.getElementById('longitude').value = location.lng();
    }
  </script>
</head>

<body onload="initialize()">
  <h1>Memphis Hot Meal Hotspots</h1>
    <p>A map of dining events in the Memphis area.</p>
  <div class ="maparea" id="map-canvas"></div>

<div id="newdiningeventform">
  <h2>Submit a New Dining Experience</h2>
  <form action="/submitDiningEvent" method="POST">
    <label for="category">Food Style</label>
    <select name="category" id="category">
      <option value="Asian">Asian</option>
      <option value="Breakfast">Breakfast</option>
      <option value="BBQ">BBQ</option>
      <option value="Italian">Italian</option>
      <option value="PubGrub">Pub Grub</option>
      <option value="Seafood">Seafood</option>
    </select>
    <label for="date">Date</label>
    <input name="date" id="date" type="date">
    <label for="latitude">Latitude</label>
    <input name="latitude" id="latitude" type="text">
    <label for="longitude">Longitude</label>
    <input name="longitude" id="longitude" type="text">
    <label for="description">Description</label>
    <textarea name="description" id="description class="diningDetails"
      placeholder="A brief but detailed description of the dining event."
    >
    </textarea>
    <input type="submit" value="Submit">
  </form>
</div>
</body>

</html>